---
const numComets = 5;

const comets = Array.from({ length: numComets }, () => ({
  top: `-30%`,     
  left: `${Math.random() * 100 - 40}%`,
  duration: `${(3 + Math.random() * 2).toFixed(4)}s`, 
  delay: `${(1 + Math.random() * 8).toFixed(4)}s`         
}));

---

<main class = "TopHeader">
    <header id = "Header">
        <section class="Header-Text">
           Scaleculus
           <!-- Fix this then it will be peak
           <video class="Text-Fill" autoplay muted loop>
                <source src = "/Scaleculus/videos/15562120-hd_1920_1080_24fps.mp4" type="video/mp4">
            </video>
           -->
            
        </section>
        <img class = "Background" src ="/Scaleculus/background/mountain_sky_bg1.jpg" alt="">
        
       <div class = "Line"></div>
    </header>
    
    <section class="Slogan">Interactive Calculus Learning Platform</section>
</main>

<div class="Stars-Container">
    <div class="Star" style="top: 10vh; left: 10vw; font-size: 15vw;">✧</div>
    <div class="Star" style="top: 50vh; left: 10vw; font-size: 20vw;">✧</div>
    <div class="Star" style="top: 60vh; left: 80vw; font-size: 10vw;">✧</div>
    <div class="Star" style="top: 5vh; left: 80vw; font-size: 20vw;">✧</div>
</div>

<div class="Comets-Container">
    {comets.map((comet, i) => {
    return (
      <div
        class={`Comet comet${i}`}
        style={`top: ${comet.top}; left: ${comet.left}; animation-duration: ${comet.duration}; animation-delay: ${comet.delay};`}
      ></div>
    )
    })}
</div>

<style>
    :root {
    --wisteria: #BEADDCff;
    --shadow-grey: #141527ff;
    --petal-frost: #F7D3EBff;
    --thistle: #D7BCE4ff;
    --wisteria-2: #C493DAff;
    --amethyst-smoke: #C18EC7ff;
    --snow: #F8EEEDff;
    }
    
    body {
    background: var(--shadow-grey);
    }


    .TopHeader {
        position: relative;
        z-index: 1;
    }

    header {
    position: fixed;  
    font-family: "Fugaz One", sans-serif;
    font-weight: 500;
    font-size: 5vw;
    
    background-color: var(--shadow-grey);

    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
    text-decoration: none;

    letter-spacing: 3vw;

    padding: 0rem 0rem 0rem 0rem;
    margin: 0rem 0rem 0rem;

    color: var(--snow);

    background: linear-gradient(10deg, var(--wisteria-2), var(--shadow-grey));
    
    text-shadow: 0 0 15px rgba(190, 173, 220, 0.6), 
                 0 0 30px rgba(193, 142, 199, 0.4);
    z-index: 1;

    
    }

    @keyframes pulse {
    0% {
        text-shadow: 0 0 10px var(--amethyst-smoke), 0 0 20px var(--wisteria-2);
    }
    50% {
        text-shadow: 0 0 20px var(--amethyst-smoke), 0 0 40px var(--wisteria-2);
    }
    100% {
        text-shadow: 0 0 10px var(--amethyst-smoke), 0 0 20px var(--wisteria-2);
    }

    }
    .Header-Text {
    position: relative;
    font-family: "Fugaz One", sans-serif;
    font-weight: 900;
    font-size: 8vw;
    text-align: center;
    color: var(--snow); 
    width: max-content;
    margin: 0 auto;
    z-index: 1;
        
    }

   

    .Text-Fill {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    }

   
    .Slogan {
        font-family: "Quicksand", sans-serif;
        font-weight: 750;
        font-size: 1rem;

        background: var(--shadow-grey);

        text-align: center;
        text-decoration: none;
        letter-spacing: 0.2rem;

        border-top: 0.2rem solid var(--wisteria-2);
        border-bottom: 0.2rem solid var(--wisteria-2);

        box-shadow: 0rem 0rem 5rem 0.1rem var(--wisteria-2);
        padding: 1rem;

        margin: 0rem 0rem 10rem;
        color: var(--snow);
        z-index: 3;
    }

    .Line {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;

        bottom: 25vh;

        width: 30vw;
        height: 1vh;
        border-radius: 2rem;

        box-shadow: 0rem 0rem 1rem 0.1rem var(--snow);
        background-color: var(--snow);   

        opacity: 0.8;  
        z-index: 3;
    }

    .Background {
    position: absolute;
    pointer-events: none;
    background-position: center;
    background-repeat: repeat;

    inset: 0;
    width: 100%;
    height: 100%;

    z-index: -1;
    opacity: 0.25;
    filter: blur(0px);
    }

    .Comet {
    position: absolute;
    width: 30rem;
    height: 5px;
    background-color: rgb(254, 255, 246);         
    transform: rotate(45deg);

    filter: blur(3px);

    opacity: 0.5;  
    border-radius: 100%;
    animation: moveComet 2s ease-in-out infinite;
    }   
    
    .Comets-Container {
    position: fixed;
    inset: 0;
    pointer-events: none;
    z-index: 0;
    }


   @keyframes moveComet {
    0% {
        transform: translate(0px, 0px) rotate(45deg);
    }
    100% {
        transform: translate(1800px, 1600px) rotate(50deg);
    }
    }

    .Stars-Container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none; 
    z-index: 4; 
    }

    .Star {
    position: absolute;
    color: transparent;
    font-weight: 1000;

    text-shadow: 
        -.5rem -.5rem 0.5rem var(--snow),   
        0 0 1rem var(--wisteria-2); 

    opacity: 1;
    transition: all 0.5s ease;

    animation-name: move_stars;
    animation-duration: auto; 
    animation-timing-function: linear;
    animation-fill-mode: both; 

    animation: sparkle 2s ease-in-out infinite, shake 0.15s linear infinite;    
    }

    .Star:nth-child(2) { animation: sparkle 1.5s ease-in-out infinite, shake 0.15s linear infinite; }
    .Star:nth-child(3) { animation: sparkle 2.5s ease-in-out infinite, shake 0.15s linear infinite; }
    .Star:nth-child(4) { animation: sparkle 1.8s ease-in-out infinite, shake 0.15s linear infinite; }
    .Star:nth-child(5) { animation: sparkle 2.2s ease-in-out infinite, shake 0.15s linear infinite; }

    @keyframes sparkle {
    0%, 49%, 55%, 100% 
    { 
        opacity: 1; 
        text-shadow: -.5rem -.5rem 1rem var(--snow), 0 0 1rem var(--wisteria-2);
    }
    50% { 
        opacity: 0.3; 
        text-shadow: -.5rem -.5rem 0.5rem var(--snow), 0 0 1rem var(--wisteria-2);
    }
    }
    
    @keyframes shake {
    0% { transform: translate(0, 0); }
    25% { transform: translate(-1px, 1px); }
    50% { transform: translate(1px, -1px); }
    75% { transform: translate(-1px, -1px); }
    100% { transform: translate(0, 0); }
    }

    @keyframes move_stars {
        0% { transform: translate(0, 0); }
    100% { transform: translate(0, 300px); }
    }

</style>    

<script type="module">
  // Wait until the DOM is fully loaded
  window.addEventListener('DOMContentLoaded', () => {
    const $header = document.querySelector("#Header");

    // Fixate the header
    $header.style.position = 'fixed';
    $header.style.top = 0;

    // Offset content
    document.body.style.paddingTop = '100vh';

    // Scroll animation
    $header.animate(
      {
        backgroundPosition: ["50% 0", "50% 100%"],
        backgroundColor: ['transparent', '#0b1584'],
        height: ['100vh', '10vh'],
        fontSize: ['calc(4vw + 1em)', 'calc(1vw + 1em)'],
      },
      {
        fill: "both",
        timeline: new ScrollTimeline({
          source: document.documentElement,
          rangeStart: '0',
          rangeEnd: '90vh',
        }),
      }
    );
  });
</script>